@import url('https://fonts.googleapis.com/css?family=Sanchez');

body {
background: #5C258D;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #4389A2, #5C258D);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #4389A2, #5C258D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  
display: flex;
height: 100%;
font-family: 'Sanchez', serif;
justify-content: center;
text-align: center;

}

h1{
  margin-top: -0.5em;
  font-family: 'Sanchez', serif; font-size: 50px;
  color: white;
  text-shadow: 1px 4px 6px black, 0 0 0 #000, 1px 4px 6px#000;
  letter-spacing: 2px;
}

h2 {
  font-family: 'Sanchez', serif; color: white;
  text-shadow: #000 2px 2px;
}
/* .h2{
  margin-top: -3em;
} */

#wrapper{
  width: 80%;
  height: 200px;
  margin: auto;
  padding: 10px;
  }
.boxes  {
  padding: 40px;
  background: black;
  opacity: 0.5;
  float: left;
  border-radius: 25px;

}

.boxes1 {
  padding: 30px;
  background: black;
  opacity: 0.5;
  border-radius: 25px;
}

/*Checkboxes styles*/

input[type="checkbox"] { display: none; }

input[type="checkbox"] + label {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 20px;
  font:20px 'Sanchez', serif;
  color: #ddd;
  cursor: pointer;
 
}

input[type="checkbox"] + label:last-child { margin-bottom: 0; }

input[type="checkbox"] + label:before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  border: 2px solid #8ed4f1;
  position: absolute;
  left: 0;
  top: 0;
  opacity: .6;
  -webkit-transition: all .12s, border-color .08s;
  transition: all .12s, border-color .08s;
}

input[type="checkbox"]:checked + label:before {
  width: 10px;
  top: -5px;
  left: 5px;
  border-radius: 0;
  opacity: 1;
  border-top-color: transparent;
  border-left-color: transparent;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* */
button {
  background: none;
  border: 3px solid #fff;
  border-radius: 5px;
  color: #fff; 
  display: block;
  font-size: 1.0em;
  font-weight: bold;
  margin: 1em auto;
  padding: 2em 6em;
  position: relative;
  text-transform: uppercase;
  overflow: hidden;
  font-family: 'Sanchez', serif;
  letter-spacing: 1px;


}



button::before,
button::after {
  background: #fff;
  content: '';
  position: absolute;
  z-index: -1;
}

button:hover {
  color:black;
}

button::after {
  /*background-color: #f00;*/
  height: 70%;
  left: -35%;
  top: 0;
  transform: skew(50deg);
  transition-duration: 0.6s;
  transform-origin: top left;
  width: 0;
}

button:hover:after {
  height: 100%;
  width: 135%;
}

#icon{
  margin-top: -1em;
  transform: rotate(-20deg)
}

.list_div{
  margin-top: 5em;
  overflow: hidden;

}